/* VARIABLES */

:root {
    --color1: #c6c5b9;
    --color2: #62929e;
    --color3: #4a6d7c;
    --color4: #393a10;
    --color5: #475657;
    --link_font-weight: 600;
    --link_font-size: 130%;
}


/* RESETS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
}

/* GLOBAL STYLES/CLASSES */

body {
    background-color: var(--color1);
}

.row, .column {
    display: flex;
    
}

.column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* CUSTOM STYLES */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color3);
    padding: 10px 5%;
    /* I want it to be fixed at the top of the page even when scrolling, and I know it's possible, but I couldn't figure out how to make it look nice yet. For now that's a feature I can't have. */
    /* position: fixed; */
}

header h1 {
    background-color: var(--color4);
    margin: 1% 0.5%;
    padding: 1% 2% 1% 2%;
    border-radius: 10px;
}

header h1:hover {
    padding: 1% 2% 1% 5%;
    transition: padding .3s ease-in-out;
}


header h1 a {
    text-decoration: none;
    color: var(--color1);
}

header nav ul li {
    /* float: right; */
    /* So this is how I learned that float is an old element that we should avoid, which JD touched on in class. It kinda broke my nav, but removing it fixed things. */
    display: inline;
    /* justify-content: space-between; */
    /* Keeping that in a comment because earlier the nav wouldn't stay place without it, but now it does. Don't want to have to hunt the solution if it breaks again. */
    font-weight: var(--link_font-weight);
    font-size: var(--link_font-size);
    border-bottom: #393a10;
}

header nav ul li a {
    color: var(--color1);
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

header nav ul li a:hover {
    text-decoration: underline;
    padding: 10px 7px 10px;
    border-radius: 10px;
    transition: transform .3s;
    background-color: var(--color4);
    color: var(--color1);
}

.hero {
    padding: 10px 2%;
    min-width: 600px;
    flex: 1;
}

.hero section {
    display: flex;
    background-color: var(--color2);
    margin: 10px;
    padding: 20px;
    border-radius: 80px;
    font-size: 110%
    
}

.hero section h2 {
    text-align: right;
    border-right: 1px solid var(--color4);
    padding-right: 10px;
    max-width: 15%;
    min-width: 15%;
    /* I tried just setting width here. It did not work and I'm not sure why since the max and min are the same. */
}

.about_me_sub {
    /* max-width: 1em; */
}

.about_me_sub p {
    padding: 0px 1em;
    min-width: 200px;
}

.profile_picture {
    width: 100em;
    height: auto;
    max-width: 300px;
    min-width: 150px;
    align-self: flex-start;
    /* Aligning to flex-start keeps it from distorting in smaller viewport. */
    border-radius: 50px;
}

/* .my_work {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    overflow: hidden;
} */
/* fr is like rem and em, but specifically for grids */
/* I needed this on .my_work, but I don't recall why. It doesn't do anything anymore but I'm afraid to delete it and then discover I need it. */


/* I had the grid showing my work vertically for a bit, but I'm not sure how and was unable to get back to the version that showed it how I wanted. */
.grid_container {
    display: grid;
    gap: 20px;
    grid-template-rows: auto repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    /* max-width: 1em; */
}

.grid_container a {
    width: 100%;
    text-decoration: none;
    color: black;
}

.grid_item img {
    max-width: 80%;
    height: auto;
}

/* Additional styles for first image. Placed here to ensure they ONLY affect the top item. */
.grid_item.big img {
    /* width: 100;
    max-width: none; */
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
}

.contact {
    display: inline-flex;
    margin: 20px;
    padding: 20px;
    list-style: none;
}

.contact li a {
    color: var(--color1);
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: var(--link_font-weight);
    font-size: var(--link_font-size);
}

/* I kept this separate from the header links because I may want them to be different later. */
.contact li a:hover {
    text-decoration: underline;
    padding: 10px 7px 10px;
    border-radius: 10px;
    transition: transform .3s;
    background-color: var(--color4);
    color: var(--color1);
}