/* RESETS */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* GLOBAL STYLES/CLASSES */

body {
    background-color: #f0ffff;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #202020;
    padding: 10px 5%;
    /* position: fixed; */
}

header h1 {
    display: flex;
    background-color: #87cefa;
    margin: 1% 0.5%;
    padding: 1% 2% 1% 2%;
    border-radius: 10px;
}

header h1:hover {
    padding: 1% 2% 1% 5%;
    transition: padding .3s ease-in-out;
}

header h1 a {
    text-decoration: none;
    color: #202020;

}

.nav_links {
    float: right;
    display: inline;
    justify-content: space-between;
}

.nav_links a {
    color: #87cefa;
    text-decoration: none;
}

.hero {
    position: relative;
    padding: 10px 5%;
}

.hero section {
    display: flex;
    background-color: #d3d3d3;
    margin: 20px;
    padding: 20px;
}

.contact {
    display: inline-flexbox;
    margin: 20px;
    padding: 20px;
}


